#about{

	
	#skills{
		// margin: 150px 20px 0 20px;
		width: 70%;
		margin: 150px auto 0 auto;
		h1{
			font-family: @second-font;
		}

		.skill{
			margin: 20px 0 80px 0;
			h2{
				width: 30%;
				border-bottom: 2px solid @third-color;
			}


			.skill-icons{
				width: 90%;
				margin: auto;
				display: flex;
			    flex-wrap: wrap;
			    align-items: center;
			    justify-content: center;
				i{
					font-size: 5em;
					margin: 15px;
				}
			}

			.work-link-wrapper{
				text-align: right;
				a{
					color: @third-color;
					text-decoration: underline;
				}
			}

			.writer{
				margin-top: 20px;
			}

			

		}

	}

	@media screen and (max-width: 768px){
    	.intro-img{
    		background-attachment: unset;
    		background-position: 50% -100px;
		}
	}


	@media screen and (max-width: 425px){
		#intro{
	    	height: 50vh;

	    	.intro-img{
	    		background-attachment: unset;
    			background-position: 50% -20px;
			}
	    }
		#skills{
	    	width: 80%;
    		margin: 120px auto 0 auto;

    		
    		.skill{
    			h2{
    				width: 90%;
				}
    			.skill-icons{
    				width: 100%;

    				i{
					font-size: 3em;
					margin: 10px;
					}
    			}
    			
    		}
		}
	}
	
}





