
/*typography*/
@fisrt-font: 'Questrial', sans-serif;
@second-font: 'Julius Sans One', sans-serif;

/*color*/
@first-color: #aad3df;
@second-color: #ffb9b5;
@second-color-light: #ffb9b585; 
@third-color: #5bb5b3;

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 14px;
    color: #333;
    font-family: @fisrt-font;
    // position: relative;
    min-height: 100%;

    a{
		text-decoration: none;
	}
}



#header{
	a{
		color: @second-color;
		text-decoration: none;
	}
	
	display: flex;
	margin: 10px;
	justify-content: space-between;

	#header-logo{
		display: flex;

		img{
		width: 50px;
		height: 50px;
		}
		#name{
			font-family: @second-font;
	    	font-size: 1.8em;
	    	padding: 13px 10px;
		}
	}

	
	#link{
		padding-top: 11px;
    	padding-bottom: 11px;
		.icon{
			color: @second-color;
			padding: 0 4px;
		}
	}
}

#top{
	display: flex;
	.title{
		position: relative;
		width: 100%;
		overflow: hidden;
		
		.title-back{
			height: 60vh;

		}
		.title-p{
			color: #fff;
			font-size: 2.5em;
		}
		
		
	}
	#title1{
		.title1-back1{
			background-color: @third-color;
		    transform: rotate(-120deg);
		    width: 100%;
		    transition: transform .8s cubic-bezier(.41,.12,.26,.97);

		    &:hover{		    
    			transform: scale(1);
			}
		}
		#title1-p{
			position: absolute;
			top: 30vh;
			left: 30%;
		}
	}
	#title2{
		#title2-back{
			background-color: @first-color;
			transform: rotate(60deg);
    		width: 100%;
    		transition: transform .8s cubic-bezier(.41,.12,.26,.97);

		    &:hover{		    
    			transform: scale(1);
			}


		}
		#title2-p{
			position: absolute;
			top: 30vh;
    		right: 50%;
		}

	}
}
#contents{
	display: flex;
	a{
		width: 100%;
		.content{
			position: relative;
			width: 100%;
			overflow: hidden;

			
			.content-back{
				// background-color: @second-color;
				height: 30vh;
			}
			.content-back1{
				background-color: @second-color;
			}
			.content-back2{
				background-color:#ffb9b585;
			}
			.content-title{
				font-family: @second-font;
				color: #fff;
				font-size: 1.9em;
				position: absolute;
			    top: 15%;
			    right: 10%;
			    .content-title1{
			    	text-align: right;
			    }
			    .content-title2{
			    	font-size: 0.75em;
			    	text-align: right;
			    }
			}

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				background-size: cover;
			    background-repeat: no-repeat;
			    background-position: 50% 50%;
				transition: .6s ease;

			}
			.overlay1{
				background-image: url("../img/head/works.jpg");
			    
			}
			.overlay2{
				background-image: url("../img/head/works2.jpeg");
			    
			}
			.overlay3{
				background-image: url("../img/head/about.jpg");
			    
			}
			.overlay4{
				background-image: url("../img/head/contact.jpg");
			    
			}

			

		}
		.content:hover .overlay1, .content:hover .overlay3 {
			  opacity: 0.5;
			}
		.content:hover .overlay2, .content:hover .overlay4 {
			  opacity: 0.4;
			}
		
	}
}

#footer{
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	color: @second-color;
	font-family: @fisrt-font;
	text-align: center;
	padding-top: 10px;

	.logoMkr{
		font-size: 0.7em;
		a{
			color:@second-color;
		}
	}
}

@media screen and (max-width: 768px){

	#header{
		#header-logo{
			#name{
				font-size: 1.5em;
				padding: 14px 10px;
			}
		}
	}
	#top{
		.title{
			.title-p{
				font-size: 2em;
			}
		}
		#title1{
			#title1-p {
			    // top: 25vh;
			    left: 10%;
			}
		}  
	}

	
}

@media screen and (max-width: 425px){
	#contents{
		display: block;
	}
}

/////////////////////////
///// general codes /////
/////////////////////////
/*------ slide nav ------*/
#navBtn{
	display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;

	div{
	width: 30px;
    height: 3px;
    background-color:@second-color;
    margin: 3px 0;
	}

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 185, 181, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .nav-menu {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;

    &:hover {
    color: #f1f1f1;
	}

	}
	#link{
		display: flex;
		.icon {
			i{
			font-size: 1.2em;
			color: #fff;
			margin: 3px;
			}
		}
	}


}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    left: 32px;
    font-size: 36px;
    color: #fff;

    &:hover{
    	cursor: pointer;
    }
}

/*------sub header ------*/
#sub-header{
	.title-wrapper{
		width: 100%;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		#title{
			font-size: 24px;
			color: #fff;
			padding-left: 3px;
		}
	}
	#title-wrapper-wd{
		background-color: @third-color;
	}

	#title-wrapper-writer{
		background-color: @first-color;
	}

	#title-wrapper-about{
		background-color: @second-color;
	}
}
/*------ parallax image on top of about and contact ------*/
#intro{
		height: 60vh;
		position: relative;
		.intro-img{
			height: 100%;
			background-image: url("../img/head/about2.jpg");
			background-attachment: fixed;
		    background-position: 50% 70%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.intro-p{
			position: absolute;
		    top: 60%;
		    left: 25%;
		    width: 50%;
		    background-color: @first-color;
		    text-align: center;
		    font-size: 1.2em;
		    color: #fff;
		    padding-right: 30px;
		    padding-left: 30px;

		    h2{
		    	font-family: @second-font;
		    }
		}


	@media screen and (max-width: 768px){
		.intro-p{
			left: 15%;
			width: 70%;
		}    	
	}


	@media screen and (max-width: 425px){
	.intro-p{
	    top: 50%;
	    left: 7%;
	    width: 86%;
	    font-size: 1em;
	    padding-right: 10px;
    	padding-left: 10px;
	}
	}

	}







/*------slide animation ------*/
@keyframes slideinRight {
            from {
                left:-100%;
            }

            to {
                left: 0%;
            }
        }

@keyframes slideinLeft {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

/*------ Modal ------*/
// The Modal (background)
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 8888;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(130, 154, 205, 0.6);
    /* Black w/ opacity */
     // Modal Content/Box
    .modal-content {
        background-color: #ffffff;
        margin: 10vh auto;
        padding: 20px;
        width: 70%;
        // The Close Button
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            &:hover, :focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .modal-content-wrapper {
            padding: 30px 20px;
            
            .modal-title {
                font-size: 20px;
                border-bottom: 1px solid @third-color;
            }
            .modal-visit-btn {
                padding: 5px 30px;
                background-color: @third-color;
                color: #fff;
                font-family: @second-font;
            }
        }
    }
}





/*------slideshow ------*/
// Slideshow container
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-img{
	width: 100%;
	height: 300px;
	position: relative;

	img{
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: auto;
	    width: auto;
	    max-width: 100%;
	    max-height: 100%;
	    margin: auto;
	}
	p{
		position: absolute;
		bottom: -10%;
		width: 100%;
		text-align: center;
	}
}

// The dots/bullets/indicators
.dot {
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


/*------delay animation ------*/
.delay-animation(@items, @delay) {
  .loopingClass(0); // Start loop
  
  .loopingClass(@index) when (@index <= @items) {
    &:nth-child(@{index}) {
        animation-delay: unit((@index * @delay),s);
    }

    .loopingClass(@index + 1); // Increment loop
  }
}

@numitems: 100;
@delay: 0.1;

// Animation
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media screen and (max-width: 768px){
	.modal{
		.modal-content{
			width: 90%;
			padding: 10px;
		}
	}

	.slide-img{
		height: 200px;
	}
}





@import "/about.less";
@import "/works.less";
@import "/contact.less";

