/*color*/
#works .work-mobile {
  display: none;
}
#works .work-intro {
  width: 90%;
  margin: 0 auto 20px auto;
}
#works .work-intro p {
  color: #9999;
  margin: 25px 0;
}
#works .work {
  display: flex;
  height: 55vh;
}
#works .work:hover {
  cursor: pointer;
  opacity: 0.5;
  border: 3px solid #5bb5b3;
}
#works .work .work-left {
  width: 50%;
  position: relative;
  animation-duration: 1s;
  animation-name: slideinRight;
}
#works .work .work-right {
  width: 50%;
  position: relative;
  animation-duration: 1s;
  animation-name: slideinLeft;
}
#works .work .work-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}
#works .work .work-title h1 {
  font-weight: 500;
}
#works .work .work-title .skill-icons i {
  font-size: 3em;
}
#works .work .work-title-left {
  align-items: flex-end;
}
#works .work-writer:hover {
  border: 3px solid #aad3df;
}
#works .work-writer .work-img-1 {
  background-image: url("../img/works/GFJ.png");
  background-position: 50% 15%;
}
.work-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
.work-wd .work-img-9 {
  background-image: url("../img/works/Reciphy1.png");
}
.work-wd .work-img-8 {
  background-image: url("../img/works/equi1.png");
}
.work-wd .work-img-7 {
  background-image: url("../img/works/Mijnklanten1.png");
}
.work-wd .work-img-6 {
  background-image: url("../img/works/Agenda2.png");
}
.work-wd .work-img-5 {
  background-image: url("../img/works/awesome-pj-1.png");
}
.work-wd .work-img-4 {
  background-image: url("../img/works/whyholland.png");
  background-position: 50% 50%;
}
.work-wd .work-img-3 {
  background-image: url("../img/works/Rezidence Zalanskeho.png");
  background-position: 50% 10%;
}
.work-wd .work-img-2 {
  background-image: url("../img/works/Shoah Legacy.png");
  background-position: 50% 10%;
}
.work-wd .work-img-1 {
  background-image: url("../img/works/Sportemu.png");
}
#showcase {
  width: 90%;
  margin: auto;
  /*------ img sorting  ------*/
  /*------delay animation ------*/
}
#showcase p {
  color: #9999;
  margin: 25px 0;
}
#showcase .line {
  width: 50%;
  margin: auto;
  border: 1px solid #aad3df;
}
#showcase h2 {
  text-align: center;
  color: #aad3df;
}
#showcase .articles-nav {
  padding: 0;
  width: 100%;
  margin: 0 0 25px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#showcase .articles-nav li {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  list-style: none;
  background: rgba(0, 0, 0, 0.25);
  padding: 4px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: background .25s ease;
}
#showcase .articles-nav li:hover {
  background: #aad3df;
  opacity: 0.4;
}
#showcase .articles-nav li:last-child {
  background: rgba(0, 0, 0, 0.6);
}
#showcase .articles-nav .active,
#showcase .articles-nav .active:hover {
  background-color: #aad3df !important;
  opacity: 1;
}
#showcase .article-objects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#showcase .article-objects a {
  animation: fadein 1s ease-in 0s 1 forwards;
  opacity: 0;
}
#showcase .article-objects a:nth-child( 0) {
  animation-delay: 0s;
}
#showcase .article-objects a:nth-child( 1) {
  animation-delay: 0.1s;
}
#showcase .article-objects a:nth-child( 2) {
  animation-delay: 0.2s;
}
#showcase .article-objects a:nth-child( 3) {
  animation-delay: 0.3s;
}
#showcase .article-objects a:nth-child( 4) {
  animation-delay: 0.4s;
}
#showcase .article-objects a:nth-child( 5) {
  animation-delay: 0.5s;
}
#showcase .article-objects a:nth-child( 6) {
  animation-delay: 0.6s;
}
#showcase .article-objects a:nth-child( 7) {
  animation-delay: 0.7s;
}
#showcase .article-objects a:nth-child( 8) {
  animation-delay: 0.8s;
}
#showcase .article-objects a:nth-child( 9) {
  animation-delay: 0.9s;
}
#showcase .article-objects a:nth-child( 10) {
  animation-delay: 1s;
}
#showcase .article-objects a:nth-child( 11) {
  animation-delay: 1.1s;
}
#showcase .article-objects a:nth-child( 12) {
  animation-delay: 1.2s;
}
#showcase .article-objects a:nth-child( 13) {
  animation-delay: 1.3s;
}
#showcase .article-objects a:nth-child( 14) {
  animation-delay: 1.4s;
}
#showcase .article-objects a:nth-child( 15) {
  animation-delay: 1.5s;
}
#showcase .article-objects a:nth-child( 16) {
  animation-delay: 1.6s;
}
#showcase .article-objects a:nth-child( 17) {
  animation-delay: 1.7s;
}
#showcase .article-objects a:nth-child( 18) {
  animation-delay: 1.8s;
}
#showcase .article-objects a:nth-child( 19) {
  animation-delay: 1.9s;
}
#showcase .article-objects a:nth-child( 20) {
  animation-delay: 2s;
}
#showcase .article-objects a:nth-child( 21) {
  animation-delay: 2.1s;
}
#showcase .article-objects a:nth-child( 22) {
  animation-delay: 2.2s;
}
#showcase .article-objects a:nth-child( 23) {
  animation-delay: 2.3s;
}
#showcase .article-objects a:nth-child( 24) {
  animation-delay: 2.4s;
}
#showcase .article-objects a:nth-child( 25) {
  animation-delay: 2.5s;
}
#showcase .article-objects a:nth-child( 26) {
  animation-delay: 2.6s;
}
#showcase .article-objects a:nth-child( 27) {
  animation-delay: 2.7s;
}
#showcase .article-objects a:nth-child( 28) {
  animation-delay: 2.8s;
}
#showcase .article-objects a:nth-child( 29) {
  animation-delay: 2.9s;
}
#showcase .article-objects a:nth-child( 30) {
  animation-delay: 3s;
}
#showcase .article-objects a:nth-child( 31) {
  animation-delay: 3.1s;
}
#showcase .article-objects a:nth-child( 32) {
  animation-delay: 3.2s;
}
#showcase .article-objects a:nth-child( 33) {
  animation-delay: 3.3s;
}
#showcase .article-objects a:nth-child( 34) {
  animation-delay: 3.4s;
}
#showcase .article-objects a:nth-child( 35) {
  animation-delay: 3.5s;
}
#showcase .article-objects a:nth-child( 36) {
  animation-delay: 3.6s;
}
#showcase .article-objects a:nth-child( 37) {
  animation-delay: 3.7s;
}
#showcase .article-objects a:nth-child( 38) {
  animation-delay: 3.8s;
}
#showcase .article-objects a:nth-child( 39) {
  animation-delay: 3.9s;
}
#showcase .article-objects a:nth-child( 40) {
  animation-delay: 4s;
}
#showcase .article-objects a:nth-child( 41) {
  animation-delay: 4.1s;
}
#showcase .article-objects a:nth-child( 42) {
  animation-delay: 4.2s;
}
#showcase .article-objects a:nth-child( 43) {
  animation-delay: 4.3s;
}
#showcase .article-objects a:nth-child( 44) {
  animation-delay: 4.4s;
}
#showcase .article-objects a:nth-child( 45) {
  animation-delay: 4.5s;
}
#showcase .article-objects a:nth-child( 46) {
  animation-delay: 4.6s;
}
#showcase .article-objects a:nth-child( 47) {
  animation-delay: 4.7s;
}
#showcase .article-objects a:nth-child( 48) {
  animation-delay: 4.8s;
}
#showcase .article-objects a:nth-child( 49) {
  animation-delay: 4.9s;
}
#showcase .article-objects a:nth-child( 50) {
  animation-delay: 5s;
}
#showcase .article-objects a:nth-child( 51) {
  animation-delay: 5.1s;
}
#showcase .article-objects a:nth-child( 52) {
  animation-delay: 5.2s;
}
#showcase .article-objects a:nth-child( 53) {
  animation-delay: 5.3s;
}
#showcase .article-objects a:nth-child( 54) {
  animation-delay: 5.4s;
}
#showcase .article-objects a:nth-child( 55) {
  animation-delay: 5.5s;
}
#showcase .article-objects a:nth-child( 56) {
  animation-delay: 5.6s;
}
#showcase .article-objects a:nth-child( 57) {
  animation-delay: 5.7s;
}
#showcase .article-objects a:nth-child( 58) {
  animation-delay: 5.8s;
}
#showcase .article-objects a:nth-child( 59) {
  animation-delay: 5.9s;
}
#showcase .article-objects a:nth-child( 60) {
  animation-delay: 6s;
}
#showcase .article-objects a:nth-child( 61) {
  animation-delay: 6.1s;
}
#showcase .article-objects a:nth-child( 62) {
  animation-delay: 6.2s;
}
#showcase .article-objects a:nth-child( 63) {
  animation-delay: 6.3s;
}
#showcase .article-objects a:nth-child( 64) {
  animation-delay: 6.4s;
}
#showcase .article-objects a:nth-child( 65) {
  animation-delay: 6.5s;
}
#showcase .article-objects a:nth-child( 66) {
  animation-delay: 6.6s;
}
#showcase .article-objects a:nth-child( 67) {
  animation-delay: 6.7s;
}
#showcase .article-objects a:nth-child( 68) {
  animation-delay: 6.8s;
}
#showcase .article-objects a:nth-child( 69) {
  animation-delay: 6.9s;
}
#showcase .article-objects a:nth-child( 70) {
  animation-delay: 7s;
}
#showcase .article-objects a:nth-child( 71) {
  animation-delay: 7.1s;
}
#showcase .article-objects a:nth-child( 72) {
  animation-delay: 7.2s;
}
#showcase .article-objects a:nth-child( 73) {
  animation-delay: 7.3s;
}
#showcase .article-objects a:nth-child( 74) {
  animation-delay: 7.4s;
}
#showcase .article-objects a:nth-child( 75) {
  animation-delay: 7.5s;
}
#showcase .article-objects a:nth-child( 76) {
  animation-delay: 7.6s;
}
#showcase .article-objects a:nth-child( 77) {
  animation-delay: 7.7s;
}
#showcase .article-objects a:nth-child( 78) {
  animation-delay: 7.8s;
}
#showcase .article-objects a:nth-child( 79) {
  animation-delay: 7.9s;
}
#showcase .article-objects a:nth-child( 80) {
  animation-delay: 8s;
}
#showcase .article-objects a:nth-child( 81) {
  animation-delay: 8.1s;
}
#showcase .article-objects a:nth-child( 82) {
  animation-delay: 8.2s;
}
#showcase .article-objects a:nth-child( 83) {
  animation-delay: 8.3s;
}
#showcase .article-objects a:nth-child( 84) {
  animation-delay: 8.4s;
}
#showcase .article-objects a:nth-child( 85) {
  animation-delay: 8.5s;
}
#showcase .article-objects a:nth-child( 86) {
  animation-delay: 8.6s;
}
#showcase .article-objects a:nth-child( 87) {
  animation-delay: 8.7s;
}
#showcase .article-objects a:nth-child( 88) {
  animation-delay: 8.8s;
}
#showcase .article-objects a:nth-child( 89) {
  animation-delay: 8.9s;
}
#showcase .article-objects a:nth-child( 90) {
  animation-delay: 9s;
}
#showcase .article-objects a:nth-child( 91) {
  animation-delay: 9.1s;
}
#showcase .article-objects a:nth-child( 92) {
  animation-delay: 9.2s;
}
#showcase .article-objects a:nth-child( 93) {
  animation-delay: 9.3s;
}
#showcase .article-objects a:nth-child( 94) {
  animation-delay: 9.4s;
}
#showcase .article-objects a:nth-child( 95) {
  animation-delay: 9.5s;
}
#showcase .article-objects a:nth-child( 96) {
  animation-delay: 9.6s;
}
#showcase .article-objects a:nth-child( 97) {
  animation-delay: 9.7s;
}
#showcase .article-objects a:nth-child( 98) {
  animation-delay: 9.8s;
}
#showcase .article-objects a:nth-child( 99) {
  animation-delay: 9.9s;
}
#showcase .article-objects a:nth-child( 100) {
  animation-delay: 10s;
}
#showcase .article-objects a .item {
  overflow: hidden;
  padding: 0;
  margin: 3px;
  width: 200px;
  height: 200px;
  list-style: none;
  transition: all .25s ease;
}
#showcase .article-objects a .item img {
  height: 100%;
  position: relative;
  left: -25%;
}
#showcase .article-objects a .hover-color {
  background-color: rgba(170, 211, 223, 0.5);
  display: none;
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 203px;
  margin-bottom: -200px;
}
#showcase .article-objects a:hover .hover-color {
  display: block;
}
@media screen and (max-width: 991px) {
  #works .work .work-title .skill-icons i {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  #works .work {
    display: none;
  }
  #works .border-bottom {
    border-bottom: 2px solid #5bb5b3;
    width: 50%;
    margin: 25px auto;
  }
  #works .work-mobile {
    display: block;
    width: 90%;
    margin: auto;
  }
  #works .work-mobile:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  #works .work-mobile .img-wrapper {
    margin-top: 30px;
    position: relative;
  }
  #works .work-mobile .img-wrapper h3 {
    min-width: 40%;
    padding: 7px 10px 7px 7px;
    color: #5bb5b3;
  }
  #works .work-mobile .img-wrapper .work-img {
    height: 40vh;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  }
  #works .work-mobile .dcp-wrapper {
    margin: 0 15px;
  }
  #works .work-mobile .dcp-wrapper .skill-icons {
    font-size: 1.5em;
  }
  #showcase {
    margin: 10px auto;
  }
  #showcase .articles-nav {
    margin: 0 0 10px 0;
  }
  #showcase .article-objects a .item {
    width: 90px;
    height: 90px;
  }
}
