/*color*/
@first-color: #aad3df;
@second-color: #ffb9b5;
@second-color-light: #ffb9b585; 
@third-color: #5bb5b3;

#works{

	.work-mobile{
		display: none;
	}

	.work-intro{
		width: 90%;
		margin: 0 auto 20px auto;
		p{
		color: #9999;
		margin: 25px 0;
		}

		
	}

	

	.work{
		display: flex;
		height: 55vh;

		&:hover {
            cursor: pointer;
            opacity: 0.5;
            border: 3px solid @third-color;
        }


		
		.work-left{
			width: 50%;
			position: relative;
			animation-duration: 1s;
            animation-name: slideinRight;
		}

		.work-right{
			width: 50%;
			position: relative;
			animation-duration: 1s;
            animation-name: slideinLeft;
		}


		.work-title{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 30px;

			h1{
				font-weight: 500;
			}

			.skill-icons{
				i{
					font-size: 3em;
				}
			}
		}		

		.work-title-left{			
			align-items: flex-end;
		}

		.work-title-right{
			// padding-left: 30px;
			// align-items: flex-end;
		}

		

		

		
	}

	
	.work-writer{
		&:hover {
            border: 3px solid @first-color;
        }

        .work-img-1{
			background-image: url("../img/works/GFJ.png");
			background-position: 50% 15%;
		}

	}



}

.work-img{	
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 30%;
		}

.work-wd{
		// &:hover {
  //           border: 3px solid @third-color;
  //       }
		.work-img-9{
			background-image: url("../img/works/Reciphy1.png");
		}
		.work-img-8{
			background-image: url("../img/works/equi1.png");
		}

  		.work-img-7{
			background-image: url("../img/works/Mijnklanten1.png");
		}

  		.work-img-6{
			background-image: url("../img/works/Agenda2.png");
		}

        .work-img-5{
			background-image: url("../img/works/awesome-pj-1.png");
		}

		.work-img-4{
			background-image: url("../img/works/whyholland.png");
			background-position: 50% 50%;
		}

		.work-img-3{
			background-image: url("../img/works/Rezidence Zalanskeho.png");
			background-position: 50% 10%;
		}

		.work-img-2{
			background-image: url("../img/works/Shoah Legacy.png");
			background-position: 50% 10%;
		}

		.work-img-1{
			background-image: url("../img/works/Sportemu.png");
		}

	}


#showcase{
	width: 90%;
	margin: auto;

	p{
		color: #9999;
		margin: 25px 0;
	}

	.line{
		width: 50%;
		margin: auto;
		border: 1px solid @first-color;
	}

	h2{
		text-align: center;
		color: @first-color;

	}

	
	/*------ img sorting  ------*/
	.articles-nav {
		padding: 0;
		width: 100%;
		margin: 0 0 25px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		li {
		  margin-right: 10px; 
		  margin-bottom: 10px;  
		  font-size: 13px;
		  list-style: none;
		  background: rgba(0,0,0,.25);
		  padding: 4px 15px;
		  border-radius: 20px;
		  cursor: pointer;
		  color: #fff;
		  // box-shadow: 0 1px 3px rgba(0,0,0,.3);
		  -webkit-transition: background .25s ease;
		  &:hover{
		  	background: @first-color;
		  	opacity: 0.4;
		  }
		  &:last-child{
		  	background: rgba(0,0,0,.6);
		  }
		}
	}
	.articles-nav .active, .articles-nav .active:hover {
	  background-color: @first-color !important;
	  opacity: 1;
	}


	/*------delay animation ------*/
	@numitems: 100;
	@delay: 0.1;


	.delay-animation(@items, @delay) {
	  .loopingClass(0); // Start loop
	  
	  .loopingClass(@index) when (@index <= @items) {
	    &:nth-child(@{index}) {
	        animation-delay: unit((@index * @delay),s);
	    }

	    .loopingClass(@index + 1); // Increment loop
	  }
	}

	.article-objects{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		a{
		animation: fadein 1.0s ease-in 0s 1 forwards;
		opacity: 0;
	  	.delay-animation(@numitems, @delay);
	  	

		  	.item {
			  overflow: hidden;
			  padding: 0;
			  margin: 3px;
			  width: 200px;
			  height: 200px;
			  list-style: none;
			  transition: all .25s ease;

			  img{
			  	height: 100%;
			    position: relative;
			    left: -25%;
			  }

			}

			.hover-color{
				background-color: rgba(170, 211, 223, 0.5);
				display: none;
				position: relative;
				width: 200px;
				height: 200px;
				bottom: 203px;
				margin-bottom: -200px;
			}
			
		}

		a:hover .hover-color{
			display: block;
		}	

	}
}

//mobile version for wd
@media screen and (max-width: 991px){
	#works{
		.work{
			.work-title{
				.skill-icons{
					i{
						font-size: 2em;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	#works{
		.work{
			display: none;
		}

		.border-bottom{
				border-bottom: 2px solid @third-color;
				width: 50%;
				margin: 25px auto;
			}
		.work-mobile{
			display: block;
			width: 90%;
    		margin: auto;
			&:hover{
				cursor: pointer;
	            opacity: 0.5;
			}
			.img-wrapper{
				margin-top: 30px;
				position: relative;

				h3{
					// position: absolute;
				    // top: 70%;
				    // background-color: @third-color;
				    // max-width: 80%;
				    min-width: 40%;
				    padding: 7px 10px 7px 7px;
				    color: @third-color;;
				}

				.work-img{
				height: 40vh;
				-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
				-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
				}
			}
			.dcp-wrapper{
				margin: 0 15px;
				.skill-icons{
					font-size: 1.5em;
				}
			}

			
			

			

		}
	}

	//mobile version for writer
	#showcase{
		margin: 10px auto;
		.articles-nav{
			margin: 0 0 10px 0;
		}
		.article-objects{
			a {
				.item{
					width:90px;
					height: 90px;
				}
			}
			
		}
			
			
	}

}



